@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@800&family=Nunito:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #00001D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.title-to-do-list-block {
  background-color: #FF8790;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  border-radius: 12px;
  content: '';
  position: absolute;
  top: 0;
  margin: 4em 0em 2em 10em; }
  .title-to-do-list-block span {
    color: #ffff;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 22px; }

.card-to-do-list {
  background-color: #1D132C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20em;
  height: 32em;
  border-radius: 40px;
  margin-top: 5em; }
